.CommanderArt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 30rem;
}
.Commander {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: white;
    text-align: center;
}
.Title {
    padding-bottom: 20px;
}
.Oracle {
    width: 35%;
    
}
.a {
    color: white;
}